/* General styles for the page */
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #eaeaea;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.logo img {
    width: 750px;
}

.logo {
    position: absolute;
    top: -155px;
    left: 439px;
    z-index: 100; 
}


.contact-us {
    padding-top: 760px;  /* 增加 padding-top 让框和内容一起下移 */
    margin-left: 550px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    color: #252525;
    text-align: left;
    max-width: 600px;
    background-color: #ffffff00;
    font-weight: normal;  /* 将 CONTACT US 字体加粗 */
    z-index: 1;
}

/* Table styles */
.footer-table {
    width: 100%;
    border-collapse: collapse;
}

/* Table cell styles */
.footer-table td {
    padding: 12px 20px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

/* 右侧图片 */
.left {
    flex: 1;
}

.left img {
    position: relative;  /* 或 absolute */
    top: -740px;  /* 使图片上移 */
    margin-left: 510px;
    width: 35%;
    height: auto; /* 保持图片的比例 */
}

.footer-table td:first-child {
    font-weight: normal;
}

@media screen and (max-width: 768px) {
  .contact-us {
    padding-top: 420px;  /* 增加 padding-top 让框和内容一起下移 */
    margin-left: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.7rem;
    color: #252525;
    text-align: left;
    max-width: 600px;
    background-color: #ffffff00;
    font-weight: normal;  /* 将 CONTACT US 字体加粗 */
    z-index: 1;
}

.logo {
    position: absolute;
    top: -10px;
    left: 140px;
}


    .left {
        flex: 1;
    }
    
    .left img {
        margin-top: 400px;
        margin-left: 113px;
        width: 48%;
        height: auto; 
    }
}