/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #ffffff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    position: relative;
    flex-direction: column;
}

.logo img {
    width: 100px;
}

.logo {
    position: absolute;
    top: 5px;
    left: 20px;
}

/* 类别名称文本的样式 */
.category-name {
    position: absolute;  /* 绝对定位 */
    top: 300px;  /* 距离页面顶部的距离，可以根据需要调整 */
    left: 10px;  /* 距离左边的距离，可以根据需要调整 */
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    color: #333;
    background-color: rgba(255, 255, 255, 0.7);  /* 半透明背景，确保文字清晰可见 */
    padding: 10px;
    border-radius: 5px;
    z-index: 10;  /* 确保文本显示在图片上方 */
    font-weight: normal;
    z-index: 10;
}

.footer {
    position: absolute;
    bottom: -200px;
    left: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8rem;
    color: #252525;
    text-align: left;
    max-width: 300px;
    word-wrap: break-word;
    z-index: 1000;
}

.content {
    position: absolute;
    top: 46px;  /* 增加 top 的值，将整个内容区域向下移动 */
    left: 20px;
    text-align: left;
    max-width: 800px;
    z-index:10;
}

.content h1,
.content p {
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    font-size: 1rem;
    color: #333;
    font-weight: normal;
    margin-right: 30px;
    margin-top: 80px;
}

.about-link {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.2rem;
    text-decoration: none;
    color: #333;
    font-weight: normal;
    font-family: 'Courier New', Courier, monospace;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);  /* 每行显示 5 个项目 */
    gap: 10px 20px;  /* 设置项目之间的间距 */
    padding: 20px;
    margin-top: 200px;  /* 顶部间距 */
    width: 97.5%;  /* 确保容器宽度足够 */
    max-width: 100%;  /* 容器最大宽度为 100% */
    grid-row-gap: 20px;
    z-index: 1;
}

.grid-item {
    position: relative;
    width: 100%;
    max-width: 360px;  /* 设置图片项的最大宽度 */
    text-align: center;
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;  /* 确保图片按比例显示 */
}

/* 第二张图片初始不可见 */
.alt-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

/* 鼠标悬停时切换显示两张图片 */
.grid-item:hover .main-img {
    opacity: 0;
}

.grid-item:hover .alt-img {
    opacity: 1;
}

/* 调整图片描述的位置 */
.item-description {
    font-size: 1rem;
    text-align: start;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
}

.circle-text {
    font-weight: normal;
    font-size: 1rem;
    margin-bottom: 10px;
    letter-spacing: -0.9px;
}

@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);  /* 每行显示 1 个项目 */
        gap: 20px;
        width: 91%;  /* 使用 100% 宽度 */
        margin-bottom: -20px; 
        grid-row-gap: 10%;  /* 控制垂直行之间的间距 */
    }

    .item-description {
        font-family: 'Courier New', Courier, monospace;
        font-size: 0.8rem;
        position: absolute;
        bottom: -35px;
        left: 0px;
        color: rgb(20, 20, 20);
    }
    .content {
        top: 40px;  /* 增加 top 的值，将整个内容区域向下移动，避免遮挡 */
        left: 20px;
        text-align: start;  /* 在小屏幕上居中显示文本 */
        width: 90%;  /* 容器宽度调整为 90%，避免过于拥挤 */
    }

    .footer {
        position: absolute;
        bottom: -2800px;
        left: 25px;
        font-family: 'Courier New', Courier, monospace;
        font-size: 0.8rem;
        color: #252525;
        text-align: left;
        max-width: 300px;
        word-wrap: break-word;
        z-index: 1000;
    }

    .grid-item {
        max-width: 100%;  /* 确保每个项不会被压缩 */
        text-align: start;
    }
}